.btn-blue {
    background: #fff;
    font-weight: 400;
    color: #007bff;
    border: 1px solid #007bff
}

.btn-blue:hover {
    background: #007bff;
    color: #fff
}

.btn-blue:active {
    background: #007bff;
    color: #fff
}

.btn-blue:focus {
    box-shadow: none
}

.btn-grey {
    background: #fff;
    font-weight: 400;
    color: #6c757d;
    border: 1px solid #6c757d
}

.btn-grey:hover {
    background: #6c757d;
    color: #fff
}

.btn-grey:active {
    background: #6c757d;
    color: #fff
}

.btn-grey:focus {
    box-shadow: none
}

.btn-green {
    background: #fff;
    font-weight: 400;
    color: #28a745;
    border: 1px solid #28a745
}

.btn-green:hover {
    background: #28a745;
    color: #fff
}

.btn-green:active {
    background: #28a745;
    color: #fff
}

.btn-green:focus {
    box-shadow: none
}

.btn-red {
    background: #fff;
    font-weight: 400;
    color: #dc3545;
    border: 1px solid #dc3545
}

.btn-red:hover {
    background: #dc3545;
    color: #fff
}

.btn-red:active {
    background: #dc3545;
    color: #fff
}

.btn-red:focus {
    box-shadow: none
}

.btn-yellow {
    background: #fff;
    font-weight: 400;
    color: #c29614;
    border: 1px solid #c29614
}

.btn-yellow:hover {
    background: #c29614;
    color: #fff
}

.btn-yellow:active {
    background: #c29614;
    color: #fff
}

.btn-yellow:focus {
    box-shadow: none
}

.btn-aqua {
    background: #fff;
    font-weight: 400;
    color: #17a2b8;
    border: 1px solid #17a2b8
}

.btn-aqua:hover {
    background: #17a2b8;
    color: #fff
}

.btn-aqua:active {
    background: #17a2b8;
    color: #fff
}

.btn-aqua:focus {
    box-shadow: none
}

.btn-aqua:focus {
    box-shadow: none
}

.btn-black {
    background: #fff;
    font-weight: 400;
    color: #111;
    border: 1px solid #111
}

.btn-black:hover {
    background: #111;
    color: #fff
}

.btn-black:active {
    background: #111;
    color: #fff
}

.btn-black:focus {
    box-shadow: none
}