.table-style {
    margin-bottom: 5px;
    margin-top: 5px
}

.page-item.active .page-link {
    background-color: #2a4054;
    border-color: #2a4054
}

.page-link {
    color: #2a4054
}

.page-link:hover {
    color: #2a4054
}

.page-link:focus {
    box-shadow: none
}

.btn-search .fa {
    color: #999 !important;
    font-weight: 300;
    cursor: pointer
}

.btn-search .fa:hover {
    color: #999
}